# ЗАДАЧА
В переменной ss находится объект Series. На вход программе поступает команда, какую величину посчитать по серии данных. Команды могут быть следующие: count (кол-во элементов), mean (среднее арифметическое), min (минимальный элемент), max (максимальный элемент).

Sample Input:

mean
Sample Output:

539.36

In [19]:
import pandas as pd
df  = pd.read_table('series.txt')
df.Num.mean()

539.36

In [ ]:
d = s.apply({'mean':'mean', 'count':'count', 'min':'min', 'max':'max'})
print(d[input()])

# Задача
В переменную s записана серия pandas. На вход Вашей программе приходят числа a и b, Ваша задача - вывести все индексы элементов серии, которые больше a, но меньше b <br>

Sample Input:<br>

1 5<br>
Sample Output:<br>

d j k<br>

In [33]:
d = {'a':    10,
'b' :    1,
'c'  :   7,
'd'  :   2,
'e'  :   6,
'f'  :  10,
'g'  :   1,
'h'  :   1,
'i'  :   1,
'j'  :   2,
'k'  :   4,
'l'  :   7,
'm'  :   8,
'n'  :   9,
'o'  :  10,
'p'  :  11,
'q'  :  12,
'r'  :  13,
's'  :  14}
series = pd.Series(d)
fun = lambda a,b: series[(series>a)&(series<b)].index.tolist()
a, b = map(int, input().split())
a, b = [int(i) for i in input().split()]
print(*fun(1,5))

d j k

In [ ]:
a, b = map(int, input().split())
print(*s.pipe(lambda x: x[x>a]).pipe(lambda x: x[x<b]).index)

# Задача
В переменной cities записан датафрейм, содержащий информацию о городах. На вход Вашей программе приходит название города и имя интересующей колонки, по которой необходимо вывести данные. Если данные отсутствуют (т.е. в таблице NaN) то необходимо вывести сообщение "no data"<br>

Sample Input:<br>

Irkutsk<br>
population<br>
Sample Output:<br>

601993.0<br>

In [ ]:
import numpy
city = input()
col = input()
if numpy.isnan(cities[col][city]):
    print("no data")
else:
    print(cities[col][city])

In [ ]:
city = input()
key = input()
print(cities.fillna('no data')[key][city])

In [ ]:
city = input()
column = input()

print(cities[column].fillna('no data').loc[city])

# Задача
По файлу titanic.csv определите кол-во выживших на титанике

In [37]:
url = 'https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Python3/titanic_train.csv'
import pandas as pd
df = pd.read_csv(url)
df.Survived.sum()

342

In [ ]:
url = 'https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Python3/titanic_train.csv'

print(__import__('pandas').read_csv(url)['Survived'].sum())

# Задача
В файле содержатся отзывы на вина. Подробно о содержании колонок можно посмотреть тут.

Ваша задача найти самое дорогое вино в данных (колонка price) и указать винодельню где оно было произведено (колонка winery)

In [45]:
wines=pd.read_csv('https://github.com/bykov-alexei/data-science-course/blob/master/Pandas/wines.csv?raw=true')
wines.iloc[wines.price.idxmax()].winery

'Château les Ormes Sorbet'

In [ ]:
import pandas as pd

url = 'https://github.com/bykov-alexei/data-science-course/blob/master/Pandas/wines.csv?raw=true'
df = pd.read_csv(url)
max_price = df['price'].max()
print(*df.query('price == @max_price')['winery'])

# Задача
В файле содержатся отзывы на вина. Подробно о содержании колонок можно посмотреть тут.

Ваша задача найти кол-во отзывов на вина из Израиля (колонка country, название Israel)

In [50]:
wines[wines.country == 'Israel'].count()

country                  505
description              505
designation              435
points                   505
price                    489
province                 505
region_1                   0
region_2                   0
taster_name              500
taster_twitter_handle    500
title                    505
variety                  505
winery                   505
dtype: int64

# Задача
В файле содержатся отзывы на вина. Подробно о содержании колонок можно посмотреть тут.

Ваша задача найти среднюю оценку вин (колонка points) для страны Италии (колонка country). Ответ округлите до целого

In [55]:
wines[wines.country=='Italy'].points.mean()

88.56223132036847

# Задача
В файле содержатся отзывы на вина. Подробно о содержании колонок можно посмотреть тут.

Ваша задача найти на вина из какой страны в данных содержится больше всего отзывов.

In [63]:
wines.groupby(wines.country).count().sort_values(by='description', ascending=False).head()

,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
country,,,,,,,,,,,,
US,54504,36908,54504,54265,54504,54226,50511,37730,34741,54504,54504,54504
France,22093,14530,22093,17776,22093,22017,0,21828,21828,22093,22093,22093
Italy,19540,13889,19540,16914,19540,19513,0,11042,11042,19540,19540,19540
Spain,6645,5320,6645,6573,6645,6637,0,6581,6581,6645,6645,6645
Portugal,5691,5105,5691,4875,5691,0,0,5686,5686,5691,5691,5691

# Задача
В файле содержатся отзывы на вина. Подробно о содержании колонок можно посмотреть тут.

Ваша задача найти на вина из какой страны в данных содержится ровно 109 отзывов.

In [69]:
wines.groupby(wines.country).count()[wines.groupby(wines.country).count()==109].sort_values(by='description').head(1)

,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
country,,,,,,,,,,,,
Uruguay,109.0,NaN,109.0,109.0,109.0,NaN,NaN,109.0,109.0,109.0,109.0,109.0

# Задача
В файле содержатся отзывы на вина. Подробно о содержании колонок можно посмотреть тут.

Ваша задача найти регион Франции (колонки country и province), на вина которого в данных меньше всего отзывов.

In [74]:
wines[wines.country=='France'].groupby(wines.province).count().sort_values(by='description').head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
province,,,,,,,,,,,,,
Languedoc-Roussillon,613,613,439,613,589,613,611,0,567,567,613,613,613

# Задача
В файле содержатся отзывы на вина. Подробно о содержании колонок можно посмотреть тут.

Ваша задача найти страну и регион (колонка province), для вин которого средняя оценка (колонка points) наибольшая. Запишите их через запятую, как в примере

France, Bordeaux

In [80]:
wines.groupby([wines.province, wines.country]).mean().sort_values(by='points', ascending=False).head(1)

                       points  price
province      country
Südburgenland Austria    94.0   57.0

In [81]:
wines.groupby(['country', "province"]).points.mean().idxmax()

('Austria', 'Südburgenland')

# Задача
В файле содержатся отзывы на вина. Подробно о содержании колонок можно посмотреть тут.

Ваша задача найти кол-во стран, вина которых никогда не получали 95 и более балов

In [110]:
len(set(wines.country).difference(set(wines.query('points >=95').country)))

30

In [116]:
top_points = wines.groupby('country').points.max()
print(top_points[top_points < 95].count())

29

In [112]:
import numpy as np
np.array(wines.loc[:, ['country', 'points']].groupby(['country'], as_index = False).max(['points']).points < 95).sum()

29

# Задача
В файле содержатся отзывы на вина. Подробно о содержании колонок можно посмотреть тут.

Ваша задача найти самого строгого оценщика (колонка taster_name), т.е. того, у которого средняя оценка минимальная.

In [126]:
wines.groupby('taster_name').points.mean().idxmin()

'Alexander Peartree'

# Задача
В файле содержатся отзывы на вина. Подробно о содержании колонок можно посмотреть тут.

Ваша задача найти вина каких трех стран, понравились критику Roger Voss больше всего. Запишите через запятую в порядке убывания средней оценки.

France, Russia, United Kingdom

In [138]:
wines.query('taster_name == "Roger Voss"').groupby('country').points.mean()\
    .sort_values(ascending=False)

country
US              89.500000
Austria         89.163717
South Africa    89.045455
France          88.818138
Italy           88.680412
Portugal        88.256098
Greece          88.000000
Name: points, dtype: float64

In [140]:
print(*wines[wines['taster_name'] == 'Roger Voss'].groupby('country')\
      .points.mean()\
      .nlargest(3).index, sep=', ')

US, Austria, South Africa

<h1 align="center"> Дата и время</h1>

# ЗАДАЧА
По файлу titanic.csv определите сколько раз встречается в имени обращение Sir (там же где и Mr, Mrs в колонке Name).

In [142]:
url = 'https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Python3/titanic_train.csv'
titanic = pd.read_csv(url)

In [144]:
titanic.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [156]:
import re
regex = r'.Sir.'
count = 0
for i in titanic.Name.tolist():
    for match in re.finditer(pattern=regex, string=i):
        count += 1 
count

1

In [157]:
# titanic.query('Name.str.contains("Sir. ")')

In [167]:
titanic[titanic.Name.str.contains('Sir. ')].Name.count()

1

# Задача
По файлу titanic.csv определите сколько за билет заплатил капитан (колонка Fare). (Это не капитан Титаника, просто капитан какого-то корабля, который был пассажиром, смотреть нужно также по обращению)

In [172]:
titanic[titanic.Name.str.contains('Capt')].Fare

745    71.0
Name: Fare, dtype: float64

# Задача
На вход программе передается три числа через пробел - y, m, d. Из этих чисел необходимо составить дату. y - год, m - месяц, d - день. Ваша задача вывести название дня недели<br>

Sample Input:<br>

2021 11 23<br>
Sample Output:<br>

Tuesday<br>

In [184]:
pd.Timestamp(*[int(i) for i in input().split()]).day_name()

2021 11 23

'Tuesday'

In [185]:
import datetime
y, m, d = map(int, input().split())
print(datetime.date(y, m, d).strftime('%A'))

2021 11 23
Tuesday

In [186]:
print(__import__('pandas').Timestamp(input()).day_name())

# можно и через календарь ))
# from calendar import weekday, day_name
# print(day_name[weekday(*map(int, input().split()))])

2021 11 23
Tuesday

In [187]:
y, m, d = map(int, input().split())
week = {3: 'Monday', 4: 'Tuesday', 5: 'Wednesday', 6: 'Thursday', 0: 'Friday', 1: 'Saturday', 2: 'Sunday'}
month = {1: 31, 3: 31, 4: 30, 5: 31, 6: 30, 7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31}

if y % 4 == 0:
    month[2] = 29
    s = 0
    for i in range(1, m):
        s += month[i]
    print(week[( int(y * 365.25) + s + d ) % 7])
else:
    month[2] = 28
    s = 0
    for i in range(1, m):
        s += month[i]
    print(week[( int(y * 365.25) + s + d ) % 7])

2021 11 23
Tuesday

# Задача
По данным с сообщениями о преступлениях в Бостоне определите, сколько сообщений было сделано 15-го июня 2015 года в промежуток с 8 до 9 часов утра.

In [265]:
url = 'https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Pandas/crime.csv'
crime = pd.read_csv(url, encoding='ANSI')

In [235]:
crime.head(2)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"

In [197]:
def lookup(s):
    """
    This is an extremely fast approach to datetime parsing.
    For large data, the same dates are often repeated. Rather than
    re-parse these, we store all unique dates, parse them, and
    use a lookup to convert all dates.
    """
    dates = {date:pd.to_datetime(date) for date in s.unique()}
    return s.map(dates)
crime['OCCURRED_ON_DATE'] = lookup(crime['OCCURRED_ON_DATE'])

In [200]:
crime['time'] = crime.OCCURRED_ON_DATE.apply(lambda x: pd.Timestamp(x).time())

In [209]:
crime[(crime.OCCURRED_ON_DATE>=pd.Timestamp('2015.06.15 8:00'))&(crime.OCCURRED_ON_DATE<pd.Timestamp('2015.06.15 9:00'))].count()

INCIDENT_NUMBER        12
OFFENSE_CODE           12
OFFENSE_CODE_GROUP     12
OFFENSE_DESCRIPTION    12
DISTRICT               12
REPORTING_AREA         12
SHOOTING                0
OCCURRED_ON_DATE       12
YEAR                   12
MONTH                  12
DAY_OF_WEEK            12
HOUR                   12
UCR_PART               12
STREET                 12
Lat                    12
Long                   12
Location               12
time                   12
dtype: int64

In [210]:
len(crime.query('OCCURRED_ON_DATE >= "2015-06-15 08:00:00" and OCCURRED_ON_DATE < "2015-06-15 09:00:00"'))

12

# Задача
По данным с сообщениями о преступлениях в Бостоне определите, сколько сообщений было сделано 15-го июня 2015 года в промежуток с 6 до 9 часов утра.

In [211]:
len(crime.query('OCCURRED_ON_DATE >= "2015-06-15 06:00:00" and OCCURRED_ON_DATE < "2015-06-15 09:00:00"'))

22

# Задача
По данным с сообщениями о преступлениях в Бостоне определите, сколько сообщений о вандализме было сделано 1-го января 2017 года.

In [215]:
len(crime.query('OCCURRED_ON_DATE >= "2017-01-01 00:00:00" & OCCURRED_ON_DATE < "2017-01-01 23:59:59" & OFFENSE_CODE_GROUP=="Vandalism"'))

12

# Задача
По данным с сообщениями о преступлениях в Бостоне определите, день 2017 года, когда было больше всего сообщений о вандализме.

In [276]:
crime['Y-M-D'] = crime['OCCURRED_ON_DATE'].apply(lambda s: s.split()[0]) # pd.to_datetime(df['OCCURRED_ON_DATE']).dt.date
crime.query('OCCURRED_ON_DATE >= "2017-01-01 00:00:00" & OCCURRED_ON_DATE < "2017-12-31 23:59:59" & OFFENSE_CODE_GROUP=="Vandalism"')\
.groupby('Y-M-D').count().sort_values(by='INCIDENT_NUMBER', ascending=False).idxmax()[0]

'2017-05-05'

In [279]:
# y2017 = crime[(crime.YEAR == 2017) & (crime.OFFENSE_DESCRIPTION == 'VANDALISM')]
# print(y2017.groupby(y2017.OCCURRED_ON_DATE.dt.date).size().idxmax())

# Задача
По файлу посчитайте кол-во победителей финальных олимпиад (stage = 4) по математике

In [288]:
url = 'https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Python3/moscow%20schools%20-%20winners.csv'
winners = pd.read_csv(url)

In [287]:
winners.query('Stage=="4" and Status == "победитель" and Subject == "Математика"').count()[0]

46

# Задача
По тому же файлу посчитайте кол-во призеров регионального этапа (stage=3) по информатике из 9-ого класса

In [300]:
winners.query('Stage=="3" and Status == "призёр" and Subject == "Информатика" and Class=="9"').count()[0]

349

# Задача
Составьте рейтинг школ по кол-ву победителей любых этапов и напишите школу с наибольшим кол-вом. В качестве ответа используйте ShortName

In [307]:
winners.query('Status == "победитель"').groupby('ShortName').count().sort_values(by='FullName', ascending=False).idxmax()[0]

'ГБОУ лицей «Вторая школа»'

# Задача
Датасет, который будем использовать можно скачать тут. Содержит данные о продажах в булочной. В каждой строчке содержится информация об отдельном купленном товаре.

TransactionNo - номер покупки (может повторяться так как могли купить сразу несколько товаров)
Items - товар, который был куплен
DateTime - время покупки

In [15]:
import pandas as pd
url= 'https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Pandas/bakery.csv'
bakery = pd.read_csv(url)

In [3]:
bakery.head()

   TransactionNo          Items             DateTime
0              1          Bread  2016-10-30 09:58:11
1              2   Scandinavian  2016-10-30 10:05:34
2              2   Scandinavian  2016-10-30 10:05:34
3              3  Hot chocolate  2016-10-30 10:07:57
4              3            Jam  2016-10-30 10:07:57

# Задача
По файлу определите кол-во видов товаров в булочной

In [16]:
len(bakery.groupby('Items')) # len(df.Items.unique())

94

# Задача
По файлу определите сколько чая (Tea) было продано в булочной за все время

In [17]:
bakery[bakery.Items == 'Tea'].TransactionNo.count() # bakery is DataFrame

1435

# Задача
По файлу определите сколько покупок было совершено первого мая 2017 года.

Кол-во покупок != кол-во строк

Кол-во покупок == Кол-во уникальных значений TransactionNo

In [18]:
bakery.query('DateTime >= "2017-05-01 00:00:00" & DateTime < "2017-05-01 23:59:59"').TransactionNo.nunique()

50

In [19]:
bakery[bakery.DateTime.str.contains('2017-05-01')].TransactionNo.nunique()

50

In [23]:
# bakery.DateTime = pd.to_datetime(bakery.DateTime)
# start, stop = (bakery.Timestamp(f'2017-05-01 {x}') for x in ('00:00', '23:59:59'))
# len(bakery.query("DateTime >= @start and DateTime <= @stop").TransactionNo.unique())

# Задача
По файлу определите, сколько покупок было совершено в понедельники. Для этого:

Преобразуйте колонку в тип datetime
Создайте новую колонку, в которой будет информация о том, являлся ли день покупки понедельником
Посчитайте кол-во уникальных значений в TransactionNo - это и будет кол-во покупок

In [21]:
bakery.DateTime = pd.to_datetime(bakery.DateTime)
bakery[bakery.DateTime.dt.day_name()=='Monday'].TransactionNo.nunique()

1441

# Задача
По файлу определите, сколько покупок было совершено в выходные. Для этого:

Преобразуйте колонку в тип datetime
Создайте новую колонку, в которой будет информация о том, являлся ли день покупки выходным
Посчитайте кол-во уникальных значений в TransactionNo - это и будет кол-во покупок

In [29]:
bakery.DateTime = pd.to_datetime(bakery.DateTime)
bakery[bakery.DateTime.dt.day_name().isin(['Sunday', 'Saturday'])].TransactionNo.nunique()

2962

In [28]:
import pandas as pd
url= 'https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Pandas/bakery.csv'
df = pd.read_csv(url)
df.DateTime = pd.to_datetime(df.DateTime)
df['Weekday'] = df.DateTime.dt.day_name()
len(df.query('Weekday in ("Saturday", "Sunday")').TransactionNo.unique())

2962

# Задача
По файлу определите, в какой месяц какого года совершилось наибольшее кол-во покупок (TransactionNo)

Преобразуйте колонку в тип datetime и сделайте ее индексом датафрейма
Сделайте resample с периодичностью в 1 месяц
Посчитайте кол-во уникальных значений в TransactionNo - это и будет кол-во покупок в каждом месяце
Найдите в результате месяц где покупок больше всего
Ответ запишите в формате YYYY-MM

In [58]:
df['YearMonth'] = df.DateTime.apply(lambda x: '{}-{}'.format(x.year, x.month))
df.groupby('YearMonth').TransactionNo.nunique().sort_values(ascending=False).idxmax()

'2017-3'

In [54]:
#                                        что это resample('M')  Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex          
#df.set_index(df.DateTime).TransactionNo.resample('M').count().sort_values(ascending=False)

In [65]:
df.groupby([df.DateTime.dt.year, df.DateTime.dt.month])['TransactionNo']\
    .nunique().sort_values(ascending=False).idxmax()

(2017, 3)

In [71]:
df.set_index(df.DateTime).resample('M').nunique().idxmax()

TransactionNo   2017-03-31
Items           2017-03-31
DateTime        2017-03-31
Weekday         2016-11-30
YearMonth       2016-01-31
dtype: datetime64[ns]

# Задача
Теперь более простой датасет. Содержит данные о поездках в такси в очень упрощенном виде. 

Для решения задач нужно будет произвести небольшую обработку.

Сложить столбцы DATE и TIME просто через +. Чтобы получить полную строку с датой
Новую колонку перевести в тип datetime через pd.to_datetime
Результат записать в индекс датафрейма

In [73]:
url = 'https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Pandas/uber.csv'
uber = pd.read_csv(url)

In [78]:
uber = uber.set_index(pd.to_datetime(uber.DATE + ' ' + uber.TIME))
uber.head(2)

                         DATE         TIME                 PICK UP ADDRESS
2014-07-01 00:00:00  7/1/2014  12:00:00 AM   874 E 139th St Mott Haven, BX
2014-07-01 00:01:00  7/1/2014  12:01:00 AM   628 E 141st St Mott Haven, BX

In [95]:
uber.groupby(uber['PICK UP ADDRESS']).count().sort_values(by = 'DATE', ascending=False)

                                   DATE  TIME
PICK UP ADDRESS
 400 Brook Ave Mott Haven, BX      1216  1216
 331 E 132nd St Mott Haven, BX      888   888
 545 E 145th St Mott Haven, BX      708   708
 436 E 149th St South Bronx, BX     660   660
 169 Cypress Ave Mott Haven, BX     643   643
...                                 ...   ...
 370 E 154th St South Bronx, BX       1     1
 370 E 149th St South Bronx, BX       1     1
 370 E 142th St Bronx                 1     1
 370 E 141st St Mott Haven, BX        1     1
zarros  E 132nd St Mott Haven, BX     1     1

[10608 rows x 2 columns]

In [96]:
print(uber.groupby('PICK UP ADDRESS').size().idxmax())

 400 Brook Ave Mott Haven, BX

In [99]:
uber.groupby('PICK UP ADDRESS').size().sort_values(ascending=False)

PICK UP ADDRESS
 400 Brook Ave Mott Haven, BX        1216
 331 E 132nd St Mott Haven, BX        888
 545 E 145th St Mott Haven, BX        708
 436 E 149th St South Bronx, BX       660
 169 Cypress Ave Mott Haven, BX       643
                                     ...
 370 E 154th St South Bronx, BX         1
 370 E 149th St South Bronx, BX         1
 370 E 142th St Bronx                   1
 370 E 141st St Mott Haven, BX          1
zarros  E 132nd St Mott Haven, BX       1
Length: 10608, dtype: int64

# Задача
По файлу определите самый загруженный день

In [102]:
uber.groupby('DATE').size().idxmax()

'9/13/2014'

In [103]:
uber.resample('D').count().idxmax().DATE

Timestamp('2014-09-13 00:00:00')

# Задача
По файлу определите самую загруженную неделю. В качестве ответа укажите дату последнего дня недели (resample выдает ее по умолчанию)

In [123]:
uber.resample('W').count().idxmax().DATE

Timestamp('2014-09-14 00:00:00')

# Задача
И последний файл. В файле содержится информация об аварийных отключениях электричества.

Колонки:

Event Description - описание происшествия
Date Event Began,Time Event Began - дата и время начала происшествия (необходимо перевести в datetime аналогично такси)
Date of Restoration,Time of Restoration - дата и время конца происшествия (необходимо перевести в datetime аналогично такси)
Respondent - ответственный
Demand Loss (MW) - потери спроса в мега ватах
Number of Customers Affected - кол-во пострадавших, т.е. у какого кол-ва людей отключилось электричество

In [3]:
import pandas as pd
url = 'https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Pandas/disruptions.csv'
disruptions = pd.read_csv(url)

In [4]:
disruptions.head(1)

,Event Description,Year,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Respondent,Geographic Areas,NERC Region,Demand Loss (MW),Number of Customers Affected,Tags
0,Severe Weather - Thunderstorms,2014,6/30/2014,8:00 PM,7/2/2014,6:30 PM,Exelon Corporation/ComEd,Illinois,RFC,Unknown,"420,000","severe weather, thunderstorm"

# Задача
Напишите в какой месяц и в какой год произошло больше всего аварий

In [152]:
disruptions['date'] = pd.to_datetime(disruptions['Date Event Began'])
disruptions.set_index(disruptions['date']).resample('M').nunique().idxmax()['Date of Restoration']

Timestamp('2012-10-31 00:00:00')

In [15]:
import pandas as pd

url = 'https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Pandas/disruptions.csv'
df = pd.read_csv(url)
df['DATE_TIME_START'] = pd.to_datetime(df['Date Event Began'] + ' ' + df['Time Event Began'])
df['DATE_TIME_END'] = pd.to_datetime(df['Date of Restoration'] + ' ' + df['Time of Restoration'])
print(df.set_index('DATE_TIME_START').resample('M').size().idxmax())

2012-10-31 00:00:00

# Задача
В какой месяц и год <u>среднее время устранения аварии</u> было минимальным. Ответ запишите в таком формате:

2015-12

In [62]:
import pandas as pd
url = 'https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Pandas/disruptions.csv'
df = pd.read_csv(url)
df['DATE_TIME_START'] = pd.to_datetime(df['Date Event Began'] + ' ' + df['Time Event Began'])
df['DATE_TIME_END'] = pd.to_datetime(df['Date of Restoration'] + ' ' + df['Time of Restoration'])
df['between'] = df['DATE_TIME_END'] - df['DATE_TIME_START']
df['durationSeconds'] = df['between'].dt.total_seconds()
idx = df[df['DATE_TIME_END'] < df['DATE_TIME_START']].index.tolist()
df = df.query('index not in @idx')
# df.set_index(pd.to_datetime(df['Date of Restoration'])).resample('M').mean().sort_values(by='durationSeconds')
df.set_index(pd.to_datetime(df['Date of Restoration'])).resample('M').mean().idxmin()[1]

Timestamp('2005-04-30 00:00:00')

In [61]:
# df2 = disruptions.copy()
# df2['timedelta'] = df2['datetimeRest'] - df2['datetimeEB']
# df2 = df2[['datetimeEB','datetimeRest','timedelta']]
# df2 = df2[df2.timedelta >= pd.Timedelta(1)]
# df2['timedelta'] = df2['timedelta'].dt.total_seconds()
# df2 = df2.resample('M', on='datetimeEB').mean().idxmin()
# df2